.animation {
  display: flex;
  justify-content: center;
}

.root {
  display: flex;
  padding-bottom: var(--large-space);
  width: 100%;
}

.subtitle {
  font-size: var(--medium-font-sz);
  font-weight: var(--normal-font-weight);
}

.smallb {
  transform: scale(0.8);
}

.balance {
  flex-grow: 2;
}

.financeGraph {
  flex-grow: 1;
  background-color: var(--container-background-light);
  margin-right: calc(var(--large-space) + var(--large-space));
}

.active > * {
  background-color: var(--accent-color);
}

.action {
  border-radius: var(--small-border-radius);
  box-shadow: none;
}

.ribbonContainer {
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
}

.sp {
  flex-grow: 1;
}