* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #000000;
  --container-background-dark: #121212;
  --container-background: #171717;
  --container-background-light: #1C1C1C;
  --input-background: #323232;
  --separator-color: #505050;
  --font-color: #FFFFFF;
  --secondary-font-color: #969696;
  --accent-color: #12E57A;

  --normal-font-sz: 20px;
  --huge-font-sz: 60px;

  --divider-width: 1px;

  --normal-border-radius: 20px;

  --small-space: 0.4em;
  --medium-space: 0.8em;
  --large-space: 1.6em;
  --huge-space: 4em;


  --regular-weight: 300;
  --medium-weight: 400;

  --colorInvert: 1;

  color: var(--font-color);

  /* Composed color variables */
  --card-color-2: var(--container-background-light);

/* Sidebar colors */
  --sidebar-bg: var(--container-background);

  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}